In [6]:
import pandas as pd
df=pd.read_csv("Assignment.csv")
df

,Customer ID,Country,State,Postal Code,Gender,Senior Citizen,Partner,Dependents,tenure,Phone Service,...,Device Protection,Tech Support,Streaming TV,Streaming Movies,Contract,Paperless Billing,Payment Method,Monthly Charges,Total Charges,Churn
0,7590-VHVEA,Australia,New South Wales,2000,Female,0,Yes,No,1.0,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,7590-VHVEG,Australia,New South Wales,2035,Female,0,Yes,No,1.0,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
2,5575-GNVDE,Australia,New South Wales,2014,Male,0,No,No,34.0,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.50,No
3,3668-QPYBK,Australia,New South Wales,2041,Male,0,No,No,2.0,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
4,7795-CFOCW,Australia,New South Wales,2050,Male,0,No,No,45.0,No,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.3,1840.75,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4993,7740-KKCXF,Australia,New South Wales,2043,Male,0,Yes,No,51.0,No,...,No,No,No,No,Month-to-month,Yes,Credit card (automatic),30.05,1529.45,No
4994,5360-XGYAZ,Australia,New South Wales,2021,Male,0,Yes,Yes,72.0,No,...,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),65.65,4664.50,No
4995,9692-TUSXH,Australia,New South Wales,2014,Female,0,No,No,18.0,Yes,...,No,No,Yes,Yes,Month-to-month,Yes,Electronic check,96.05,1740.70,Yes
4996,7912-SYRQT,Australia,New South Wales,2052,Female,0,No,No,7.0,Yes,...,No,No,No,No,Month-to-month,Yes,Bank transfer (automatic),75.1,552.95,Yes
4997,3557-HTYWR,Australia,New South Wales,2056,Female,0,No,No,47.0,Yes,...,No,Yes,No,Yes,Two year,No,Mailed check,74.05,3496.30,No

In [7]:
df=df.drop(['Customer ID','Country','State','Postal Code'],axis='columns')
df

,Gender,Senior Citizen,Partner,Dependents,tenure,Phone Service,Multiple Lines,Internet Service,Online Security,Online Backup,Device Protection,Tech Support,Streaming TV,Streaming Movies,Contract,Paperless Billing,Payment Method,Monthly Charges,Total Charges,Churn
0,Female,0,Yes,No,1.0,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,Female,0,Yes,No,1.0,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
2,Male,0,No,No,34.0,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.50,No
3,Male,0,No,No,2.0,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
4,Male,0,No,No,45.0,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.3,1840.75,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4993,Male,0,Yes,No,51.0,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Credit card (automatic),30.05,1529.45,No
4994,Male,0,Yes,Yes,72.0,No,No phone service,DSL,Yes,Yes,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),65.65,4664.50,No
4995,Female,0,No,No,18.0,Yes,No,Fiber optic,Yes,No,No,No,Yes,Yes,Month-to-month,Yes,Electronic check,96.05,1740.70,Yes
4996,Female,0,No,No,7.0,Yes,Yes,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Bank transfer (automatic),75.1,552.95,Yes
4997,Female,0,No,No,47.0,Yes,Yes,DSL,Yes,Yes,No,Yes,No,Yes,Two year,No,Mailed check,74.05,3496.30,No

In [8]:
df.shape

(4998, 20)

In [9]:

df.isnull()

,Gender,Senior Citizen,Partner,Dependents,tenure,Phone Service,Multiple Lines,Internet Service,Online Security,Online Backup,Device Protection,Tech Support,Streaming TV,Streaming Movies,Contract,Paperless Billing,Payment Method,Monthly Charges,Total Charges,Churn
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4993,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4994,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4995,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4996,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4997,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [10]:
df.isnull().sum()

Gender               0
Senior Citizen       0
Partner              0
Dependents           0
tenure               1
Phone Service        0
Multiple Lines       0
Internet Service     1
Online Security      1
Online Backup        0
Device Protection    0
Tech Support         0
Streaming TV         0
Streaming Movies     0
Contract             0
Paperless Billing    0
Payment Method       0
Monthly Charges      2
Total Charges        8
Churn                0
dtype: int64

In [11]:
df.isnull().sum().sum()

13

In [12]:
df=df.dropna()
df

,Gender,Senior Citizen,Partner,Dependents,tenure,Phone Service,Multiple Lines,Internet Service,Online Security,Online Backup,Device Protection,Tech Support,Streaming TV,Streaming Movies,Contract,Paperless Billing,Payment Method,Monthly Charges,Total Charges,Churn
0,Female,0,Yes,No,1.0,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,Female,0,Yes,No,1.0,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
2,Male,0,No,No,34.0,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.50,No
3,Male,0,No,No,2.0,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
4,Male,0,No,No,45.0,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.3,1840.75,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4993,Male,0,Yes,No,51.0,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Credit card (automatic),30.05,1529.45,No
4994,Male,0,Yes,Yes,72.0,No,No phone service,DSL,Yes,Yes,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),65.65,4664.50,No
4995,Female,0,No,No,18.0,Yes,No,Fiber optic,Yes,No,No,No,Yes,Yes,Month-to-month,Yes,Electronic check,96.05,1740.70,Yes
4996,Female,0,No,No,7.0,Yes,Yes,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Bank transfer (automatic),75.1,552.95,Yes
4997,Female,0,No,No,47.0,Yes,Yes,DSL,Yes,Yes,No,Yes,No,Yes,Two year,No,Mailed check,74.05,3496.30,No

In [13]:
df.isnull().sum()

Gender               0
Senior Citizen       0
Partner              0
Dependents           0
tenure               0
Phone Service        0
Multiple Lines       0
Internet Service     0
Online Security      0
Online Backup        0
Device Protection    0
Tech Support         0
Streaming TV         0
Streaming Movies     0
Contract             0
Paperless Billing    0
Payment Method       0
Monthly Charges      0
Total Charges        0
Churn                0
dtype: int64

In [14]:
df['Gender'].unique()

array(['Female', 'Male', 'female'], dtype=object)

In [15]:
df['Gender']=df['Gender'].apply(lambda x:'Male' if x=='Male' else 'Female')
df['Gender'].unique()

C:\Users\Rog\AppData\Local\Temp\ipykernel_25612\3402699130.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Gender']=df['Gender'].apply(lambda x:'Male' if x=='Male' else 'Female')

array(['Female', 'Male'], dtype=object)

In [16]:
df['Partner'].unique()

array(['Yes', 'No'], dtype=object)

In [17]:
df['Phone Service'].unique()

array(['No', 'Yes', ' '], dtype=object)

In [18]:
df['Phone Service']=df['Phone Service'].apply(lambda x:'Yes' if x=='Yes' else 'No')
df['Phone Service'].unique()

C:\Users\Rog\AppData\Local\Temp\ipykernel_25612\2088228839.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Phone Service']=df['Phone Service'].apply(lambda x:'Yes' if x=='Yes' else 'No')

array(['No', 'Yes'], dtype=object)

In [19]:
df['Multiple Lines'].unique()

array(['No phone service', 'No', 'Yes', ' ', 'N0'], dtype=object)

In [20]:
df['Multiple Lines']=df['Multiple Lines'].apply(lambda x:'Yes' if x=='Yes' else 'No')
df['Multiple Lines'].unique()

C:\Users\Rog\AppData\Local\Temp\ipykernel_25612\2149678546.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Multiple Lines']=df['Multiple Lines'].apply(lambda x:'Yes' if x=='Yes' else 'No')

array(['No', 'Yes'], dtype=object)

In [21]:
df['Online Security'].unique()

array(['No', 'Yes', 'No internet service'], dtype=object)

In [22]:
df['Online Security']=df['Online Security'].apply(lambda x:'Yes' if x=='Yes' else 'No')
df['Online Security'].unique()

C:\Users\Rog\AppData\Local\Temp\ipykernel_25612\2728603651.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Online Security']=df['Online Security'].apply(lambda x:'Yes' if x=='Yes' else 'No')

array(['No', 'Yes'], dtype=object)

In [23]:
df['Device Protection'].unique()

array(['No', 'Yes', 'No internet service', 'N0'], dtype=object)

In [24]:
df['Device Protection']=df['Device Protection'].apply(lambda x:'Yes' if x=='Yes' else 'No')
df['Device Protection'].unique()

C:\Users\Rog\AppData\Local\Temp\ipykernel_25612\3420051450.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Device Protection']=df['Device Protection'].apply(lambda x:'Yes' if x=='Yes' else 'No')

array(['No', 'Yes'], dtype=object)

In [25]:
df['Tech Support'].unique()

array(['No', 'Yes', 'No internet service'], dtype=object)

In [26]:
df['Tech Support']=df['Tech Support'].apply(lambda x:'Yes' if x=='Yes' else 'No')
df['Tech Support'].unique()

C:\Users\Rog\AppData\Local\Temp\ipykernel_25612\4105440362.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Tech Support']=df['Tech Support'].apply(lambda x:'Yes' if x=='Yes' else 'No')

array(['No', 'Yes'], dtype=object)

In [27]:
df['Streaming TV'].unique()

array(['No', 'Yes', 'No internet service', 'No internetservice', 'N0'],
      dtype=object)

In [28]:
df['Streaming TV']=df['Streaming TV'].apply(lambda x:'Yes' if x=='Yes' else 'No')
df['Streaming TV'].unique()

C:\Users\Rog\AppData\Local\Temp\ipykernel_25612\1047153828.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Streaming TV']=df['Streaming TV'].apply(lambda x:'Yes' if x=='Yes' else 'No')

array(['No', 'Yes'], dtype=object)

In [29]:
df['Streaming Movies'].unique()

array(['No', 'Yes', 'No internet service', '   '], dtype=object)

In [30]:
df['Streaming Movies']=df['Streaming Movies'].apply(lambda x:'Yes' if x=='Yes' else 'No')
df['Streaming Movies'].unique()

C:\Users\Rog\AppData\Local\Temp\ipykernel_25612\3520431798.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Streaming Movies']=df['Streaming Movies'].apply(lambda x:'Yes' if x=='Yes' else 'No')

array(['No', 'Yes'], dtype=object)

In [31]:
df['Paperless Billing'].unique()

array(['Yes', 'No'], dtype=object)

In [32]:
df['Churn'].unique()

array(['No', 'Yes'], dtype=object)

In [34]:
df2=df.drop(['Senior Citizen','tenure','Monthly Charges','Total Charges'],axis='columns')
df2

,Gender,Partner,Dependents,Phone Service,Multiple Lines,Internet Service,Online Security,Online Backup,Device Protection,Tech Support,Streaming TV,Streaming Movies,Contract,Paperless Billing,Payment Method,Churn
0,Female,Yes,No,No,No,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,No
1,Female,Yes,No,No,No,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,No
2,Male,No,No,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,No
3,Male,No,No,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,Yes
4,Male,No,No,No,No,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4993,Male,Yes,No,No,No,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Credit card (automatic),No
4994,Male,Yes,Yes,No,No,DSL,Yes,Yes,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),No
4995,Female,No,No,Yes,No,Fiber optic,Yes,No,No,No,Yes,Yes,Month-to-month,Yes,Electronic check,Yes
4996,Female,No,No,Yes,Yes,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Bank transfer (automatic),Yes
4997,Female,No,No,Yes,Yes,DSL,Yes,Yes,No,Yes,No,Yes,Two year,No,Mailed check,No

In [38]:
df['Monthly Charges'].unique()

array(['29.85', '56.95', '53.85', ..., '36.85', '45.5', '30.05'],
      dtype=object)

In [39]:
def is_float(x):
    try:
        float(x)
    except:
        return False
    return True
df[~df['Monthly Charges'].apply(is_float)]

Empty DataFrame
Columns: [Gender, Senior Citizen, Partner, Dependents, tenure, Phone Service, Multiple Lines, Internet Service, Online Security, Online Backup, Device Protection, Tech Support, Streaming TV, Streaming Movies, Contract, Paperless Billing, Payment Method, Monthly Charges, Total Charges, Churn]
Index: []

In [40]:
df['Monthly Charges'].loc[4774]=53.95

C:\Users\Rog\AppData\Local\Temp\ipykernel_25612\2624401701.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Monthly Charges'].loc[4774]=53.95

In [42]:
columns=list(df2.columns)
columns

['Gender',
 'Partner',
 'Dependents',
 'Phone Service',
 'Multiple Lines',
 'Internet Service',
 'Online Security',
 'Online Backup',
 'Device Protection',
 'Tech Support',
 'Streaming TV',
 'Streaming Movies',
 'Contract',
 'Paperless Billing',
 'Payment Method',
 'Churn']

In [43]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [44]:
df2[columns]=df2[columns].apply(le.fit_transform)

In [45]:
inputs=df2.drop(['Churn'],axis='columns')
inputs

,Gender,Partner,Dependents,Phone Service,Multiple Lines,Internet Service,Online Security,Online Backup,Device Protection,Tech Support,Streaming TV,Streaming Movies,Contract,Paperless Billing,Payment Method
0,0,1,0,0,0,0,0,2,0,0,0,0,0,1,2
1,0,1,0,0,0,0,0,2,0,0,0,0,0,1,2
2,1,0,0,1,0,0,1,0,1,0,0,0,1,0,3
3,1,0,0,1,0,0,1,2,0,0,0,0,0,1,3
4,1,0,0,0,0,0,1,0,1,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4993,1,1,0,0,0,0,0,2,0,0,0,0,0,1,1
4994,1,1,1,0,0,0,1,2,1,1,1,1,2,1,0
4995,0,0,0,1,0,1,1,0,0,0,1,1,0,1,2
4996,0,0,0,1,1,1,0,0,0,0,0,0,0,1,0
4997,0,0,0,1,1,0,1,2,0,1,0,1,2,0,3

In [46]:
targets=df2['Churn']
targets

0       0
1       0
2       0
3       1
4       0
       ..
4993    0
4994    0
4995    1
4996    1
4997    0
Name: Churn, Length: 4986, dtype: int32

In [47]:
import numpy as np
from sklearn.model_selection import train_test_split

In [48]:
X_train,X_test,y_train,y_test= train_test_split(inputs,targets,test_size=0.2)

In [49]:
from sklearn.linear_model import LogisticRegression
regression=LogisticRegression()

In [50]:
regression.fit(X_train,y_train)

LogisticRegression()

In [51]:
regression.score(X_test,y_test)

0.7655310621242485